body {
    background: #a7a7a79a;
    margin: 0;
    padding: 0;
  }
  
  .imagen img {
    position: absolute;
    top: 9%;
    width: 50%;
  }
  
  #cont-titulo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  #cont-titulo .titulo {
    margin: 50px auto 0;
    width: 30%;
    border: solid 1px #aaaaaa;
    border-radius: 10px;
    background: rgb(255, 105, 105);
  }
  
  #cont-titulo .titulo h1 {
    font-size: 25px;
    color: #ffffff;
  }
  
  #cont-formulario {
    background: #FAEBD7;
    width: 70%;
    height: 500px;
    margin: -21px auto;
    border-radius: 10px;
  }
  
  #cont-formulario .formulario {
    position: relative;
    top: 15%;
    text-align: right;
    width: 80%;
    margin: 0px 86px;
  }
  
  #cont-formulario .formulario input {
    width: 250px;
    border: none;
    background: #FAEBD7;
  }
  
  #cont-formulario .formulario .palomita {
    width: 30px;
    border: none;
    background: #FAEBD7;
  }
  
  #cont-formulario .formulario input:focus {
    outline: none;
  }
  
  #cont-formulario .formulario .boton {
    border: solid 1px;
    margin: 15px 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    height: 55px;
    border-radius: 2px;
    background: rgb(255, 105, 105);
    color: #fff;
  }
  
  #cont-formulario .formulario .boton:hover {
    border: solid 1px;
    margin: 15px 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    height: 55px;
    border-radius: 2px;
    background: #fff;
    color: rgb(255, 105, 105);
  }
  
  #cont-formulario .formulario label {
    margin: 0px 0px 0px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(255, 105, 105);
  }
  
  #cont-formulario .formulario hr {
    width: 50%;
    position: relative;
    border: solid 1.5px;
    background: #000000;
    margin: 5px 50%;
  }
  
  .mayusculas {
    text-transform: uppercase;
  }
  
  #contenedor-tablas {
    width: 100%;
    margin-top: 55px;
    background: #FAEBD7;
  }
  
  .tabla {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
  }
  
  .tabla caption {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .tabla tr:first-child {
    background-color: #f1f1f1;
  }
  
  .tabla td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .tabla td:first-child {
    font-weight: bold;
  }
  
  .tabla tr:nth-child(2n) {
    background-color: #f9f9f9;
  }
  
  .tabla .moto {
    width: 50%;
    background: #fff;
  }
  
  #contenedor-tablas h1 {
    width: 50%;
    margin: auto;
    margin-top: 25px;
    text-align: right;
  }
  
  .boton-salida {
    width: 200px;
    margin: auto;
    display: flex;
  }
  
  .salida {
    width: 200px;
    height: 50px;
    margin: 5px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: none;
    background: rgb(255, 105, 105);
    color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton-atras {
    width: 50px;
    margin: auto;
    position: absolute;
    top: 0px;
    margin-left: 5px;
  }
  
  .atras {
    width: 50px;
    height: 50px;
    margin: 5px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-decoration: none;
    background: rgb(255, 105, 105);
    color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .atras:hover {
    background: #fff;
  }
  
  /* Estilos para pantallas más pequeñas */
  @media  (max-width: 1500px) {
    .imagen img {
        width: 60%;
        top: 80px;
      }
    }
  @media  (max-width: 1200px) {
    .imagen img {
        width: 60%;
        top: 150px;
      }
    }
    #cont-formulario .formulario input {
        width: 38%;
      }
  
  @media  (max-width: 768px) {
    .imagen img {
      width: 85%;
      top: 140px;
      left: -110px;
    }
  
    #cont-titulo .titulo {
      width: 50%;
    }
  
    #cont-formulario {
      width: 90%;
      margin: -21px auto;
    }
  
    #cont-formulario .formulario {
      top: 10%;
      width: 90%;
      margin: 0px 5%;
    }
  
    #cont-formulario .formulario input {
      width: 40%;
    }
  
    #cont-formulario .formulario .boton {
        margin: 15px 0px;
        font-size: 20px;
        height: 40px;
        width: 100%;
      }
  
    .tabla {
      width: 50%;
      overflow-x: scroll;
    }
  
    .tabla td {
      white-space: nowrap;
    }
  }
  @media  (max-width: 460px) {
    .imagen img {
        width: 90%;
        top: 160px;
        left: -120px;
      }
      #cont-formulario .formulario label {
        font-size: 15px;
      }
      #cont-formulario .formulario .boton {
        margin: 15px 0px;
        font-size: 20px;
        height: 40px;
        width: 100%;
      }
      #cont-formulario {
        width: 90%;
        margin: -21px auto;
        height: 450px;
      }
      #cont-titulo .titulo h1{
        font-size: 20px;
      }
    }
  @media  (max-width: 350px) {
    .imagen img {
        width: 100%;
        top: 160px;
        left: -120px;
      }
      #cont-formulario .formulario label {
        font-size: 15px;
      }
      #cont-formulario .formulario .boton {
        margin: 15px 0px;
        font-size: 20px;
        height: 40px;
        width: 100%;
      }
      #cont-formulario {
        width: 90%;
        margin: -21px auto;
        height: 450px;
      }
      #cont-titulo .titulo h1{
        font-size: 20px;
      }
    }
  @media  (max-width: 252px) {
    .imagen img {
        width: 120%;
        top: 200px;
        left: -120px;
      }
      #cont-formulario .formulario label {
        font-size: 13px;
      }
      #cont-formulario .formulario .boton {
        margin: 15px 0px;
        font-size: 17px;
        height: 40px;
        width: 100%;
      }
      #cont-formulario {
        width: 90%;
        margin: -21px auto;
        height: 450px;
      }
      #cont-titulo .titulo h1{
        font-size: 17px;
      }
    }