body{
    margin: 0;
}
.mayusculas{
  text-transform: uppercase;
}
#cont-superior{
    width: 100%;
    background: #000;
    height: 75px;
}
#cont-superior h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin: 0;
    z-index: 2;
}
#cont-botones{
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
}
#cont-botones button{
width: 200px;
}
#cont-botones button a{
font-size: 25px;
text-decoration: none;
color: #384345;
}

#cont-botones .dropdown {
    display: inline-block;
    position: relative;
    z-index: 2;
  }
#cont-botones .dropdown button{
    font-size: 25px;
  }
#cont-botones input{
  width: 200px;
  font-size: 25px;

  }

  #cont-botones .dropdown-content {
    display: none;
    position: absolute;
    width: 86%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  #cont-botones .dropdown-content a{
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
  }
  #cont-botones .dropdown-content img{
    margin: 0px 10px 0px 10px;
    position: relative;
    top: 5px;
  }
  #cont-botones .dropdown-content a{
    
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
  }
  #cont-botones .dropdown:hover .dropdown-content {
    display: block;
  }
  #cont-botones .dropdown-content input {
    
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    text-align: left;
    border:none;
    background: #FFFFFF;
  }
  #cont-botones .dropdown-content .moto {
    
    background: url(../imagenes/bicicleta.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #cont-botones .dropdown-content .auto {
    background: url(../imagenes/seguro-de-auto.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #cont-botones .dropdown-content input:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    
  }
  #contenedor-tablas{
    z-index: 1;
    background: #bdbdbd;
    width: 100%;
    position: relative;
    min-height: 200px;
    max-height: auto;
}
#contenedor-tablas .tabla{
    width: 50%;
    margin: auto;
    text-align: -webkit-center;
}

#contenedor-tablas .tabla td{
    border: solid;
    width: 175px;
}
#contenedor-tablas .tabla caption{
    font-size: 25px;
    font-family: 'Lobster', cursive;;
}
#editar {
  width: 100%;
  height: 500px;
}
#editar .form-editar{
  border: solid 1px;
  width: 30%;
  height: 500px;
  background:#cbcbcb;
  margin: auto;
  text-align: left;
}
#editar .form-editar label{
  margin: 4px 11px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  display: block;
  text-align: center;
}

#editar .form-editar input{
  border: none;
    border-bottom: solid 1px;
    margin: auto;
    display: flex;
  background: #cbcbcb;
}
#editar .form-editar input[type="submit"]{
  display: flex;
  margin: auto;
  border: solid 1px;
  font-size: 30px;
  background: #FFFFFF;
  border-radius: 5px;

}
#editar .form-editar select{
  display: flex;
  margin: auto;
  font-size: 20px;
  border: solid 1px #000;
  background: rgb(255, 105, 105);
  color: #fff;

}
#cont-superior  .volver{
  position: relative;
  margin: 10px;
  bottom: 50px;
  width: 200px;
  height: 30px;
  background: rgb(255, 105, 105);
  text-align: center;
  
}
#cont-superior  .volver a{
  
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  
}
#eliminar {
  width: 100%;
  height: 300px;
}
#eliminar .form-eliminar{
  border: solid 1px;
  width: 30%;
  height: 500px;
  background:#cbcbcb;
  margin: auto;
  text-align: left;
}
#eliminar .form-eliminar label{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  display: block;
  text-align: center;
}
#eliminar .form-eliminar input{
  border: none;
    border-bottom: solid 1px;
    margin: auto;
    display: flex;
  background: #cbcbcb;

}
#eliminar .form-eliminar input[type="submit"]{
  border: solid 1px;
  font-size: 25px;
  background: rgb(255, 105, 105);
  color: #fff;
  display: flex;
  margin: auto;

}
#eliminar .form-eliminar select{
  margin: 10px;
  border: solid 1px #000;
  background: rgb(255, 105, 105);
  color: #fff;

}
